In [1]:
import matplotlib.pyplot as plt
from main import Main
from conf.conf import Params

In [2]:
main = Main(Params())

In [3]:
data_preparation_air_quality = main.pipeline.data_preparation_air_quality
data_preparation_air_quality.apply()

(9357, 15)
The sample time series is seasonal before the deseasonality False
The sample time series is seasonal after the deseasonality False

# Preparación de los datos

Este atributo realiza la limpieza y preprocesamiento de los datos crudos para dejarlos listos para análisis y modelado:

- Crea una copia del dataframe original para no modificar los datos crudos.

- Elimina columnas no deseadas como "Unnamed: 15" y "Unnamed: 16". 

- Elimina filas con valores missing.

- Almacena el nombre de la variable target en una variable.

- Elimina filas donde el valor de la variable target sea nulo.

- Convierte las columnas de fecha y hora en una sola columna datetime.

- Elimina las columnas originales de fecha y hora.

- Establece la columna datetime como índice del dataframe.

- Devuelve el dataframe preprocesado listo para análisis y modelado.

In [7]:
processed_data = data_preparation_air_quality.processed_data
processed_data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,CO(GT)_deseasonalize
datetime,,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,-9.737788
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,-10.555218
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,-10.659663
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,-9.912500
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,-9.378739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-04-04 10:00:00,3.1,1314.0,-200.0,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568,-4.745958
2005-04-04 11:00:00,2.4,1163.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119,-5.278631
2005-04-04 12:00:00,2.4,1142.0,-200.0,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406,-5.623135
2005-04-04 13:00:00,2.1,1003.0,-200.0,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139,-5.930985
2005-04-04 14:00:00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028,-6.243809